@use "../../styles/colors" as c;
.input{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: inherit;
    border-bottom: 1px solid c.$text-secondary;
    padding: 0;
    margin: 0;
    color: c.$text-secondary;
    font-family: inherit;
    font-weight: 500;
}