$dash-array : 400;
$dash-offset : 400;

.st1 {
  stroke-dasharray: $dash-array;
  stroke-dashoffset: $dash-offset;
  stroke-width: 5px;
  stroke-linecap: round;
  animation: xDashPrimaryOff 0.5s ease-in forwards;

  &.on {
    animation: xDashPrimary 0.5s ease-in forwards;
  }
}

.st2 {
  stroke-dasharray: $dash-array;
  stroke-dashoffset: $dash-offset;
  stroke-width: 5px;
  stroke-linecap: round;
  animation: xDashPrimaryOff 0.75s ease-in forwards;

  &.on2 {
    animation: xDashPrimary 0.75s ease-in forwards;
    animation-delay: 100ms;
  }
}

.linePrimary{
  
}



@keyframes xDashPrimary {
  from {
    stroke-dasharray: $dash-array;
    stroke-dashoffset: $dash-offset;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes xDashPrimaryOff {
  from {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  
  to {
    stroke-dashoffset: $dash-offset;
    stroke-dasharray: $dash-array;
  }
}