$main: #161616;
$main-secondary: #2c2e31;
$header: #30333a;
$main-medium: #434750;
$main-hamburger: #5b606d;
$text: #f5f5f5;
$text-secondary: #c0c0c0;
$accent: #ee7733;
$accent-hover: #e26e4b;
$accent-active: #af4e31;