@use "../styles/_colors";

.editor-container{
    width: 100%;
    min-height: 100vh;
    display: inline-flex;
    justify-content: space-evenly;
    background-color: colors.$main-secondary;
    .vertical-separator{
     padding: 5px;   
     display: flex;
     &::after{
         content: "";
         background-color: colors.$header;
         min-width: 2px;
         min-height: 100vh;
     }
    }
    article{
        
        textarea.text-input{
            width: 50vw;
            position: relative;
            resize: horizontal;
            height: 100vh;
        }
        &.text-output{
            width: 50vw;
            position: relative;
            resize: horizontal;
            height: 100vh;
        }
    }
    aside{
        flex-grow: 1;
    }
}