@use "../styles/_colors";
@use "../styles/_scrollbar"as sb;
@use "../styles/_breakpoints"as bp;

main {
  background-color: colors.$main-medium;
}

.editor-container {
  position: relative;
  // width: 100%;
  // display: inline-flex;
  // justify-content: space-evenly;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  background-color: colors.$main-medium;

  @include bp.for-phone-only {
    display: block;
  }

  .preview-button {
    visibility: hidden;
  }
  @include bp.for-phone-only {
    display: block;
    .preview-button {
      z-index: 1000;
      visibility: visible;
    }
  }

  article {
    &.editor {
      z-index: 9;

      @include bp.for-phone-only {
        position: relative;
      }
    }

    &.markdown-output {

      @include bp.for-phone-only {
        position: absolute;
        bottom: 0;
        opacity: 0.0;
        transition: z-index 0.5s step-end, opacity 0.5s cubic-bezier(.17, .67, .53, .95);
        z-index: 0;

        &.active {
          opacity: 1.0;
          transition: z-index 0.5s step-start, opacity 0.5s cubic-bezier(.17, .67, .53, .95);
          z-index: 10;
        }
      }
    }

    textarea.markdown-input {
      padding: 0;
      position: relative;
      min-width: 100%;
      height: 90vh;
      min-height: 90vh;
      resize: none;
      font-size: 1.2rem;
      background-color: inherit;
      color: colors.$text;
      //Remove borders when active
      border: none;
      box-shadow: none;
      outline: none;
      background-color: colors.$main;
      //If this is not set than the cursor will not change to pointer
      cursor: auto;
      @include sb.rounded_scroll_bar;

    }

    output.markdown-output {
      display: inline-block;
      overflow: auto;
      min-width: 98%;
      overflow-y: scroll;
      padding-left: 20px;
      @include sb.rounded_scroll_bar;
      max-height: 90vh;
      height: 90vh;
      background-color: colors.$main;

    }

    h2.page-header2 {
      margin: auto 0;
      font-size: 0.9em;
      letter-spacing: 2px;
      font-weight: 400;
      background-color: colors.$header;
      display: flex;
      align-items: center;

      span {
        padding: 10px 20px;
      }
    }

  }
}