@use "./styles/_colors" as c;


:root,
body {
  background-color: c.$main-medium;
  color: c.$text;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

code {
  background-color: c.$main-medium;
  padding: 0 0.3rem;
  border-radius: 3px;
}

a {
  color: c.$accent;
  text-decoration: underline;
  &:visited {
    color: rgba($color: #d16abb, $alpha: 1.0);
  }
  &:hover {
    color: c.$accent-hover;
  }
  &:active {
    color: c.$accent-active;
  }
}